<div class="info">
    <h1>3d-street</h1>
    <h5>Press/Click to change the view</h5>
</div>
<div class="city">
    <div class="left-side" id="left">
        <div class="house">
            <div class="floor">
                <div class="front-left">
                    <div class="side front">
                        <div class="grid">
                            <div class="wall -window">
                                <div class="window"></div>
                                <div class="wall"></div>
                            </div>
                            <div class="wall -door">
                                <div class="door"></div>
                            </div>
                        </div>
                    </div>
                    <div class="side left">
                        <div class="grid">
                            <div class="wall -window">
                                <div class="window"></div>
                                <div class="wall"></div>
                            </div>
                            <div class="wall -window">
                                <div class="window"></div>
                                <div class="wall"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-back">
                    <div class="side back"></div>
                    <div class="side right"></div>
                </div>
                <div class="bottom-top">
                    <div class="side bottom"></div>
                    <div class="side top"></div>
                </div>
            </div>
            <div class="floor">
                <div class="front-left">
                    <div class="side front">
                        <div class="grid">
                            <div class="wall -window">
                                <div class="window"></div>
                                <div class="wall"></div>
                            </div>
                            <div class="wall -window">
                                <div class="window"></div>
                                <div class="wall"></div>
                            </div>
                        </div>
                    </div>
                    <div class="side left">
                        <div class="grid">
                            <div class="wall -window">
                                <div class="window"></div>
                                <div class="wall"></div>
                            </div>
                            <div class="wall -window">
                                <div class="window"></div>
                                <div class="wall"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-back">
                    <div class="side back"></div>
                    <div class="side right"></div>
                </div>
                <div class="bottom-top">
                    <div class="side bottom"></div>
                    <div class="side top"></div>
                </div>
            </div>
        </div>
        <div class="house">
            <div class="floor">
                <div class="front-left">
                    <div class="side front">
                        <div class="grid">
                            <div class="wall -window">
                                <div class="window"></div>
                                <div class="wall"></div>
                            </div>
                            <div class="wall -door">
                                <div class="door"></div>
                            </div>
                        </div>
                    </div>
                    <div class="side left">
                        <div class="grid">
                            <div class="wall -window">
                                <div class="window"></div>
                                <div class="wall"></div>
                            </div>
                            <div class="wall -window">
                                <div class="window"></div>
                                <div class="wall"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-back">
                    <div class="side back"></div>
                    <div class="side right"></div>
                </div>
                <div class="bottom-top">
                    <div class="side bottom"></div>
                    <div class="side top"></div>
                </div>
            </div>
        </div>
        <div class="house">
            <div class="floor">
                <div class="front-left">
                    <div class="side front">
                        <div class="grid">
                            <div class="wall -window">
                                <div class="window"></div>
                                <div class="wall"></div>
                            </div>
                            <div class="wall -door">
                                <div class="door"></div>
                            </div>
                        </div>
                    </div>
                    <div class="side left">
                        <div class="grid">
                            <div class="wall -window">
                                <div class="window"></div>
                                <div class="wall"></div>
                            </div>
                            <div class="wall -window">
                                <div class="window"></div>
                                <div class="wall"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-back">
                    <div class="side back"></div>
                    <div class="side right"></div>
                </div>
                <div class="bottom-top">
                    <div class="side bottom"></div>
                    <div class="side top"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-side" id="right">
        <div class="house">
            <div class="floor">
                <div class="front-left">
                    <div class="side front">
                        <div class="grid">
                            <div class="wall -window">
                                <div class="window"></div>
                                <div class="wall"></div>
                            </div>
                            <div class="wall -door">
                                <div class="door"></div>
                            </div>
                        </div>
                    </div>
                    <div class="side left">
                        <div class="grid">
                            <div class="wall -window">
                                <div class="window"></div>
                                <div class="wall"></div>
                            </div>
                            <div class="wall -window">
                                <div class="window"></div>
                                <div class="wall"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-back">
                    <div class="side back"></div>
                    <div class="side right"></div>
                </div>
                <div class="bottom-top">
                    <div class="side bottom"></div>
                    <div class="side top"></div>
                </div>
            </div>
            <div class="floor">
                <div class="front-left">
                    <div class="side front">
                        <div class="grid">
                            <div class="wall -window">
                                <div class="window"></div>
                                <div class="wall"></div>
                            </div>
                            <div class="wall -window">
                                <div class="window"></div>
                                <div class="wall"></div>
                            </div>
                        </div>
                    </div>
                    <div class="side left">
                        <div class="grid">
                            <div class="wall -window">
                                <div class="window"></div>
                                <div class="wall"></div>
                            </div>
                            <div class="wall -window">
                                <div class="window"></div>
                                <div class="wall"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-back">
                    <div class="side back"></div>
                    <div class="side right"></div>
                </div>
                <div class="bottom-top">
                    <div class="side bottom"></div>
                    <div class="side top"></div>
                </div>
            </div>
        </div>
        <div class="house">
            <div class="floor">
                <div class="front-left">
                    <div class="side front">
                        <div class="grid">
                            <div class="wall -window">
                                <div class="window"></div>
                                <div class="wall"></div>
                            </div>
                            <div class="wall -door">
                                <div class="door"></div>
                            </div>
                        </div>
                    </div>
                    <div class="side left">
                        <div class="grid">
                            <div class="wall -window">
                                <div class="window"></div>
                                <div class="wall"></div>
                            </div>
                            <div class="wall -window">
                                <div class="window"></div>
                                <div class="wall"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-back">
                    <div class="side back"></div>
                    <div class="side right"></div>
                </div>
                <div class="bottom-top">
                    <div class="side bottom"></div>
                    <div class="side top"></div>
                </div>
            </div>
        </div>
        <div class="house">
            <div class="floor">
                <div class="front-left">
                    <div class="side front">
                        <div class="grid">
                            <div class="wall -window">
                                <div class="window"></div>
                                <div class="wall"></div>
                            </div>
                            <div class="wall -door">
                                <div class="door"></div>
                            </div>
                        </div>
                    </div>
                    <div class="side left">
                        <div class="grid">
                            <div class="wall -window">
                                <div class="window"></div>
                                <div class="wall"></div>
                            </div>
                            <div class="wall -window">
                                <div class="window"></div>
                                <div class="wall"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-back">
                    <div class="side back"></div>
                    <div class="side right"></div>
                </div>
                <div class="bottom-top">
                    <div class="side bottom"></div>
                    <div class="side top"></div>
                </div>
            </div>
            <div class="floor">
                <div class="front-left">
                    <div class="side front">
                        <div class="grid">
                            <div class="wall -window">
                                <div class="window"></div>
                                <div class="wall"></div>
                            </div>
                            <div class="wall -window">
                                <div class="window"></div>
                                <div class="wall"></div>
                            </div>
                        </div>
                    </div>
                    <div class="side left">
                        <div class="grid">
                            <div class="wall -window">
                                <div class="window"></div>
                                <div class="wall"></div>
                            </div>
                            <div class="wall -window">
                                <div class="window"></div>
                                <div class="wall"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-back">
                    <div class="side back"></div>
                    <div class="side right"></div>
                </div>
                <div class="bottom-top">
                    <div class="side bottom"></div>
                    <div class="side top"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom" id="bottom">
        <div class="street">

        </div>
    </div>
</div>